$text-color: #fff
$text-hover: #fc6
$background: #5e0ce2

.navContainer
  position: fixed
  right: 0
  background: $background
  height: 100%
  width: 200px
  display: flex
  align-items: center
  justify-content: space-around
  flex-wrap: wrap
  box-shadow: 0 0 12px #5e0ce2

.logo
  display: flex
  align-items: center
  justify-content: center
  gap: 12px

  span
    font-size: 3.25rem
    color: $text-color

  img
    max-width: 48px
    max-height: 48px

.navList
  ul
    display: flex
    flex-direction: column
    gap: 24px
    padding: 0
    list-style-type: none

    li
      list-style: none
      display: inline-block
      font-size: 1.5rem
      font-weight: 500
      transition: .2s

      a
        padding: 12px

    li:hover
      color: $text-hover
