.projetosContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin: 48px 32px;
}

.projetoCard {
  display: flex;
  width: 480px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.projetoCard img {
  width: 100%;
  height: auto;
  cursor: pointer;
  transition: 0.3s;
}

.projetoCard img:hover {
  opacity: 0.75;
}

.projeto {
  margin: 0 32px;
}
